<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/download.css">
    <title>Document</title>
</head>
<body>
    <img src="images/home.png" width="30px" height="30px" onclick="goHome()" id="img">
    <h1> リンクが出ました！ <br> リンクは1時間のみ有効です。 </h1>
    <div id="main">
        <div id="buttons">
            <button id="clickMe"> リンクコピー </button><br>
            <button id="mailer"> メールでリンクを送る </button>
        </div>
        <form action="/mailing" method="POST" name="mailing">
            <div id="mail_div">
            <label for="requester" id="requestLabel">送信者 : </label>
            <input type="email" name="requester" id="requester" class="requester" placeholder="本人のメールアドレスを書いてください。" required>
            <br>
            <label for="recepient" id="recepientLabel">受信者 : </label>
            <input type="email" name="recipient" id="recipient" class="recipient" placeholder="受信者のメールアドレスを書いてください" required> 
            <br>
            <textarea placeholder="メモを書いてください。" name="memo" id="memo"></textarea>
            <button id="sender"> 送る</button>
            </div>
            <div id="result_area">
            <span id="result" name="result"><%=fileView%></span>
            <textarea id="resultforView" name="resultforView"><%=fileView%></textarea>
            <textarea id="result_text" name="result_text"><%=file%></textarea>
            </div>
        </form>
    </div>
</body>
<script>
    const clickMe = document.getElementById('clickMe');
    const mailer = document.getElementById('mailer');
    const mail_div = document.getElementById('mail_div');
    const result = document.getElementById('result');
    const result_text=document.getElementById("result_text");
    const resultforView =document.getElementById("resultforView");
    const memo = document.getElementById('memo');

    result.style.display='none';
    result_text.style.display="none";
    mail_div.style.display='none';
    resultforView.style.display="none";

    clickMe.addEventListener('click',(e)=>{
        if(result.style.display=="block" || mail_div.style.display=='block'){
             result.style.display="none";
            // result_text.style.display="none";
            mail_div.style.display='none'
        }else{
            result.innerHTML='ダウンロードリンク : <a href= "<%=file%>" > <%=file%> </a> <br><br> 内容確認のリンク　：　<a href="<%=fileView%>"><%=fileView%></a>'
            result_text.innerHTML='<%=file%>'
            result.style.display='block'
            result_text.style.display='block'
            result_text.select();
            result_text.setSelectionRange(0, 99999);
            document.execCommand('copy');
            result_text.style.display="none";
            
            alert('リンクを使用してファイルを共有しましょう！');
        }

    })

    mailer.addEventListener('click',(e)=>{
        if(mail_div.style.display=='block' || result.style.display=='block'){
            mail_div.style.display="none";
        }else{
            result_text.innerHTML='<%=file%>'
            result.innerHTML='<%=fileView%>'
            resultforView.innerHTML='<%=fileView%>'
            result_text.style.display='block'
            result_text.select();
            result_text.setSelectionRange(0, 99999);
            document.execCommand('copy');
            result_text.style.display="none";
            mail_div.style.display="block";
        }
    })

    function goHome(){
        window.location="/";
    }

</script>
</html>